*{
  font-family: 'Vazirmatn'
}
::-webkit-scrollbar {
  width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(49, 49, 49);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(150, 150, 150);
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}